/*
  override "justify-content" property in global.css
  to fix laytout issue on delete note page
*/
body {
  justify-content: flex-start;
}

form {
  display: inline-block;
}

button {
  padding: 12px 15px;
  width: 120px;
}

.deleteConfirmBtn {
  margin-right: 12px;
  background-color: green;
  color: white;
}

.deleteConfirmBtn:hover {
  background-color: rgb(1, 104, 1);
}

.deleteCancelBtn {
  background-color: red;
  color: white;
}

.deleteCancelBtn:hover {
  background-color: rgb(220, 0, 0);
}
