<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { pageTitle: "Error" }); %>
  </head>
  <body>
    <div class="contentContainer">
      <header>
        <h1>Error</h1>
        <hr/>
      </header>

      <main>
        <h2><%= errorMessage %></h2>
        <a href="/notes">Home</a>
      </main>
    </div>
  </body>
</html>
