<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { pageTitle: "Home" }); %>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="contentContainer">
      <header>
        <h1>Welcome!</h1>
        <hr/>

        <div class="notesHeader">
          <h2>My Notes</h2>
          <button id="newNoteBtn">New Note</button>
        </div>
        <hr />
      </header>

      <main>
        <% if (userNotes.length === 0) { %>
          <h2>No notes available. Try adding some somes.</h2>
        <% } else { %>
          <section id="notesListContainer">
            <% userNotes.forEach((note) => { %>
              <article class="note" data-id="<%= note._id %>">
                <%- include("../partials/noteHeader", {
                    title: note.title,
                    createdAt: note.createdAt,
                    tags: note.tags
                  });
                %>

                <div class="noteActionBtns">
                  <button class="editNoteBtn">Edit</button>
                  <button class="deleteNoteBtn">Delete</button>
                </div>
              </article>
            <% }); %>
          </section>
       <% } %>
      </main>
    </div>

    <%- include("../partials/footer") %>

    <script src="/js/home.js"></script>
  </body>
</html>
