<h1 class="noteTitle"><%= title %></h1>
<small class="createdAt"><%= new Date(createdAt).toDateString() %></small>

<div class="tags">
    <% tags.forEach((tag) => { %>
        <span class="tag"><%= tag %></span>
    <% }); %>
</div>